# Creating Data Frame From Csv File

In [2]:
import pandas as pd
df=pd.read_csv("weather_report.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# Creating DataFrame Using Dictionary

In [3]:
dict1={
    
    "Rno":[1,2,3,4,5],
    "Name":["Amit","Sam","Allan","sanju","Ravi"],
    "Marks":[33,44,55,66,77]
}

df=pd.DataFrame(dict1)
df

   Rno   Name  Marks
0    1   Amit     33
1    2    Sam     44
2    3  Allan     55
3    4  sanju     66
4    5   Ravi     77

# To print Initial Few Rows of a Data Frame

In [ ]:
df.head