# Creating Data Frame using multiple Dictionaries

In [4]:
import pandas as pd

student=[
    
    {'Rno':1,'Name':'Deepak'},
    {'Rno':2,'Name':'Seema'},
    {'Rno':3,'Name':'Raja'}
    ]
student

[{'Rno': 1, 'Name': 'Deepak'},
 {'Rno': 2, 'Name': 'Seema'},
 {'Rno': 3, 'Name': 'Raja'}]

In [5]:
df=pd.DataFrame(student)  # here dictionary key is columnname and value is data
df

   Rno    Name
0    1  Deepak
1    2   Seema
2    3    Raja