# when u download data from internet or  any source it might have missing some values. some of the cells may not have values in them.or some of the days might be missing we will see how to handle this in this chapter.

# converting column to data format

In [4]:
import pandas as pd

# To create data frame from weather_report.csv file

In [10]:
df=pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017          3.0        8.0  cloudy
8  01-11-2017         40.0       12.0   Sunny

In [11]:
#by default day type is str so we need to convert it into date
# just check type day
type(df.day[0])

str

# to convert day column(presently str) to date format(now date format)

In [13]:
df=pd.read_csv("weather_data.csv",parse_dates=['day']) 
# day column will be converted to date format which was previously str
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10          3.0        8.0  cloudy
8 2017-01-11         40.0       12.0   Sunny

In [9]:
# confirming day is converted to date format
type(df.day[0])

pandas._libs.tslibs.timestamps.Timestamp

# to make day as your index

In [14]:
df=pd.read_csv("weather_data.csv",parse_dates=['day']) 
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10          3.0        8.0  cloudy
2017-01-11         40.0       12.0   Sunny

# Now in next topic we will handle this NAN values. we will convert them to meaningful data