# Dealing With Row & Columns

In [2]:
import pandas as pd
df=pd.read_csv("weather_report.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# To Find Number OF Rows And Columns

In [3]:
df.shape

(6, 4)

In [ ]:
rows,colums=df.shape

In [ ]:
rows

In [ ]:
colums

# To print Initial Few Rows of a Data Frame

In [ ]:
df.head()

# To print All Rows of a Data Frame

In [ ]:
df

# To print Initial 2 Rows of a Data Frame

In [ ]:
df.head(2)

# # To print last Few Rows of a Data Frame

In [ ]:
df.tail()

# To print last 2 Rows of a Data Frame

In [ ]:
df.tail(2)

# To print rows from 2 to 4 (includes 2 and last total-1)

In [ ]:
df[2:5]