# Printing Colums

In [1]:
import pandas as pd
df=pd.read_csv("weather_report.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# To print number of columns in data frame

In [2]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

# To print particular column in data frame

In [4]:
df['day']    # here access is like dictionary key   df.day will print samething

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [ ]:
df.day  # same as above

In [7]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

# to print required columns from data Frame(more than one column)

In [8]:
df[['event','day','temperature']]

   event         day  temperature
0   Rain  01-01-2017           32
1  Sunny  01-02-2017           35
2   Snow  01-03-2017           28
3   Snow  01-04-2017           24
4   Rain  01-05-2017           32
5  Sunny  01-06-2017           31

In [9]:
df[['day']]

          day
0  01-01-2017
1  01-02-2017
2  01-03-2017
3  01-04-2017
4  01-05-2017
5  01-06-2017