# Conditional Selection of data in data frame

In [1]:
import pandas as pd
df=pd.read_csv("weather_report.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [ ]:
# To display temperature which is greater than 28 (Conditional display)

In [3]:
df[df.temperature>28]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# To get a complete row where temperature was maximum

In [3]:
df[df.temperature==df['temperature'].max()]

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

In [4]:
# To get a selected column of a df  where temperature was maximum(or to find as date of maximum temperature)

In [4]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

          day  temperature
1  01-02-2017           35