# set_index

In [1]:
import pandas as pd
df=pd.read_csv("weather_report.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# to display index in data frame

In [2]:
df.index

RangeIndex(start=0, stop=6, step=1)

# to change default index to "day" column

In [3]:
df.set_index('day',inplace=True)# inplace=True is wriiten to set index in our orignal data frame (dont press shift + enter here)

In [4]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
01-02-2017           35          7  Sunny
01-03-2017           28          2   Snow
01-04-2017           24          7   Snow
01-05-2017           32          4   Rain
01-06-2017           31          2  Sunny

In [9]:
# Now we can set "day" as index and use loc

df.loc['01-04-2017']

temperature      24
windspeed         7
event          Snow
Name: 01-04-2017, dtype: object

In [10]:
df.loc['01-06-2017']

temperature       31
windspeed          2
event          Sunny
Name: 01-06-2017, dtype: object

# To reset index to orignal default  index

In [11]:
df.reset_index(inplace=True)

In [12]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

# to change default index to "event" column

In [14]:
df.set_index('event',inplace=True)
df

              day  temperature  windspeed
event
Rain   01-01-2017           32          6
Sunny  01-02-2017           35          7
Snow   01-03-2017           28          2
Snow   01-04-2017           24          7
Rain   01-05-2017           32          4
Sunny  01-06-2017           31          2

In [16]:
df.loc['Snow']  # using Index as Snow

              day  temperature  windspeed
event
Snow   01-03-2017           28          2
Snow   01-04-2017           24          7