#  Different ways of Creating Data Frame

In [1]:
import pandas as pd
df=pd.read_csv('weather_report.csv')
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [7]:
df=pd.read_excel('weather_report.xlsx',"Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain
5 2017-06-01           31          2  Sunny