# Creating Data Frame using tuples list

In [ ]:
import pandas as pd

In [ ]:
tu=[(1,'Amit',44),(2,'seema',89),(3,'raja',78)]
tu

In [ ]:
df=pd.DataFrame(tu)
df

# Printing Data Frame With Column Names for list of tuples

In [ ]:
df=pd.DataFrame(tu,columns=['Rno','Name','Marks'])
df